
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    font-family: Arial, sans-serif;
}

header, footer {
    color: white;
    text-align: center;
    z-index: 1;
    position: relative;
}

header {
    padding: 1em 0;
}

footer {
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

